*{
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}
.container{
    margin: 50px 10px;
}
.content{   
    border-radius: 20px; 
    box-sizing: content-box;
    text-align: center;
    justify-content: center;
}
.search_bar{
    padding: 0px;
    margin: 20px;
    display: inline-flex;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
#search{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 20px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: white;
    border-right: none;
}
.cancel{
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    padding: 5px;
    color: rgb(177, 19, 19);
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}
.cancel:focus{
    outline: none;
}
#search:focus{
    outline: none;
}
.submit{
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: medium;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(241, 235, 235);
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}
img{
    width: 30%;
    background-color: inherit;
}
.submit:hover{
    background-color: rgb(182, 180, 180);
}
.submit:focus{
    outline: none;
    border: 2px solid black;
}
.paragraph{
    width: 100%;
    text-align: left;
}
h1{
    text-align: center;
}
.searchedText{
    background-color: yellow;
    font-weight: 900;
}

